{% extends "base.html" %}

{% block content %}
    <h2>Bem-vindo ao Catálogo de Séries 🎬</h2>
    <p>Explore e cadastre suas séries favoritas!</p>

    <div class="container">
        <h1>Top Séries</h1><br>
        <div class="card-grid">
            
            <div class="card">
                <img src="/static/css/imgs/poster-gg.png" alt="Poster">
                <div class="card-content">
                    <p class="card-rating">⭐ 9.5</p>
                    <h2 class="card-title">Gossip Girl</h2>
                    <a href="#" class="btn btn-primary">+ Lista</a>
                </div>
            </div>

            <div class="card">
                <img src="/static/css/imgs/poster-pb.jpg" alt="Poster">
                <div class="card-content">
                    <p class="card-rating">⭐ 8.3</p>
                    <h2 class="card-title">Prison Break</h2>
                    <a href="#" class="btn btn-primary">+ Lista</a>
                </div>
            </div>

            <div class="card">
                <img src="/static/css/imgs/poster-ga.webp" alt="Poster">
                <div class="card-content">
                    <p class="card-rating">⭐ 9.3</p>
                    <h2 class="card-title">Grey's Anatomy</h2>
                    <a href="#" class="btn btn-primary">+ Lista</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
