{% extends 'base.html' %} 
{% block content %}
<h2>Controle de estoque - Séries</h2>
<br />
<details>
  <summary>[ Cadastrar nova série ]</summary>
  <div class="col-md-4">
    <form action="{{url_for('seriesEstoque')}}" method="POST">
      <input
        type="text"
        name="titulo"
        placeholder="Título"
        class="form-control"
        required
      />
      <input
        type="number"
        name="ano"
        placeholder="Ano"
        class="form-control"
        required
      />
      <input
        type="text"
        name="genero"
        placeholder="Gênero"
        class="form-control"
        required
      />

      <!-- SELECT PARA ESCOLHER O ATOR -->
      <select name="ator" class="form-select" required>
        <option value="" selected disabled>Selecione um ator...</option>
        {% for ator in atores %}
        <option value="{{ator.id}}">{{ator.nome}}</option>
        {% endfor %}
      </select>

      <input type="submit" value="Cadastrar" class="btn btn-success" />
      <input type="reset" value="Limpar" class="btn btn-danger" />
    </form>
  </div>
</details>
<hr />
<h5>Séries cadastradas:</h5>
<br />
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th style="width: 50px"></th>
      <th>Título:</th>
      <th>Ano:</th>
      <th>Gênero:</th>
      <th>Ator:</th>
      <th style="text-align: center" colspan="2">Ação:</th>
    </tr>
  </thead>
  <tbody>
    {% for s in seriesestoque.items %}
    <tr>
      <td style="text-align: center">
        <img
          src="{{url_for('static', filename='imgs/serie-icon.png')}}"
          alt="Série"
          width="40px"
        />
      </td>
      <td>{{s.titulo}}</td>
      <td>{{s.ano}}</td>
      <td>{{s.genero}}</td>
      <td>{{s.ator.nome}}</td>
      <td style="text-align: center; width: 130px">
        <a class="btn btn-warning" href="{{url_for('serieEdit', id=s.id)}}"
          >Editar</a
        >
      </td>
      <td style="text-align: center; width: 130px">
        <a
          class="btn btn-danger"
          href="{{url_for('seriesEstoque', id=s.id)}}"
          onclick="return confirm('Deseja mesmo excluir a série {{s.titulo}}?')"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p style="text-align: center">
  {% if seriesestoque.has_prev %}
  <a href="{{url_for('seriesEstoque', page=seriesestoque.prev_num)}}"
    ><< Anterior</a>
  {% endif %}
  {% if seriesestoque.has_next %}
  <a href="{{url_for('seriesEstoque', page=seriesestoque.next_num)}}"
    >Próximo >></a>
  {% endif %}
</p>
{% endblock content %}
