{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card card-detalhe">
        <img src="{{ serieInfo.image.original if serieInfo.image else 'https://via.placeholder.com/600x400?text=Sem+Imagem' }}" alt="{{ serieInfo.name }}">
        <div class="card-content">
            <h2 class="card-title">{{ serieInfo.name }}</h2>
            <p><strong>Gêneros:</strong> {{ serieInfo.genres | join(', ') }}</p>
            <p><strong>Ano de estreia:</strong> {{ serieInfo.premiered if serieInfo.premiered else 'Não informado' }}</p><br>
            <p><a href="{{ serieInfo.url }}" target="_blank" class="btn btn-primary">Mais detalhes</a></p>
        </div>
    </div>
</div>
{% endblock %}
