{% extends 'base.html' %}
{% block content %}
<h2>Controle de cadastro - Atores</h2><br>
<details>
    <summary>[ Cadastrar novo ator ]</summary>
    <div class="col-md-4">
        <form action="{{ url_for('atorsEstoque') }}" method="POST">
            <input type="text" name="nome" placeholder="Nome" class="form-control" required>
            <input type="text" name="fabricante" placeholder="Fabricante" class="form-control" required>
            <input type="text" name="ano_lancamento" placeholder="Ano de lançamento" class="form-control"><br>
            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>
<hr>
<h5>Atores cadastrados:</h5><br>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th style="width: 50px;"></th>
            <th>Nome:</th>
            <th>Fabricante:</th>
            <th>Ano:</th>
            <th style="text-align: center;" colspan="2">Ação:</th>
        </tr>
    </thead>
    <tbody>
        {% for ator in atorsestoque.items %}
        <tr>
            <td style="text-align: center;">
                <img src="{{ url_for('static', filename='imgs/actor-icon.png') }}" alt="Ator" width="40px">
            </td>
            <td>{{ ator.nome }}</td>
            <td>{{ ator.fabricante }}</td>
            <td>{{ ator.ano_lancamento }}</td>
            <td style="text-align: center; width: 130px;">
                <a class="btn btn-warning" href="{{ url_for('atorEdit', id=ator.id) }}">Editar</a>
            </td>
            <td style="text-align: center; width: 130px;">
                <a class="btn btn-danger" href="{{ url_for('atorsEstoque', id=ator.id) }}"
                   onclick="return confirm('Deseja mesmo excluir o ator {{ ator.nome }}?')">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p style="text-align: center;">
    {% if atorsestoque.has_prev %}
        <a href="{{ url_for('atorsEstoque', page=atorsestoque.prev_num) }}"><< Anterior</a>
    {% endif %}
    {% if atorsestoque.has_next %}
        <a href="{{ url_for('atorsEstoque', page=atorsestoque.next_num) }}">Próximo >></a>
    {% endif %}
</p>
{% endblock content %}
