<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}">
    <title>Séries</title>
</head>
<body>
    <header>
        
    <nav class="navbar">
    <h1 class="navbar-title">Catálogo de Séries</h1>
    <div class="navbar-links">
        <a href="{{ url_for('home') }}">Início</a>
        <a href="{{ url_for('atorsEstoque') }}">Cadastro de Atores</a>
        <a href="{{ url_for('newSeries') }}">Cadastro de Séries</a>
        <a href="{{ url_for('apiseries') }}">API Séries</a>
    </div>
    </nav>

    </header>

    <main class="container">
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p style="text-align: center;">Todos os direitos reservados &reg;</p>
    </footer>
</body>
</html>

