{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar ator:</h3><br>
    <form action="{{url_for('atorEdit', id=ator.id)}}" method="POST">
        <input type="text" name="nome" class="form-control" value="{{ator.nome}}" required>
        <input type="number" name="idade" value="{{ator.idade}}" class="form-control" required>
        <input type="text" name="pais" value="{{ator.pais}}" class="form-control" required><br>
        <a href="{{url_for('atorEdit', id=ator.id)}}" onclick="return confirm('Confirma as alterações?')">
            <input type="submit" value="Alterar" class="btn btn-warning">
        </a>
        <a href="{{url_for('atoresCadastro')}}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
    </form>  
</div>
{% endblock content %}
